body {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.content-size {
    width: 100%;
    max-width: 1400px;
}

.header-container {
    background-color: #fff;
    display: flex;
    justify-content: center;
}

.header-content-container {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.log-in-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.sign-up-item {
    font-size: 18px;
}

.log-in-button {
    border: none;
    height: 54px;
    width: 153px;
    border-radius: 10px;
    background-color: #3366FF;
    color: #fff;
    font-size: 18px;
    font-family: "Poppins", sans-serif;

}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    background-color: #F7F5FD;
}

.container-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content-title {
    max-width: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.title {
    font-size: 80px;
    color: #2D2D2D;
    line-height: 1;
    margin: 0;
    font-weight: 600;
}

.subtitle {
    font-size: 18px;
    color: #757575;
    font-weight: 400;
    margin: 0;
}

.banner-button {
    border: none;
    height: 64px;
    width: 200px;
    border-radius: 10px;
    background-color: #F8D57E;
    color: #2D2D2D;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    margin-top: 30px;
}

.service-container {
    height: 500px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service-content-container {
    display: flex;
    justify-content: space-between;
}

.service-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 230px;
    gap: 20px;
}

.service-title {
    font-size: 18px;
    color: #2D2D2D;
    font-weight: 600;
    margin: 0;
    margin-top: 20px;
}

.service-subtitle{
    text-align: center;
    margin: 0;
    color: #757575;
    font-size: 18px;
    line-height: 2;
}